@media (min-width:1400px) {
    .container {
        max-width: 1224px;
    }

}

@media (max-width:1366px) {


    .main-header .navbar-nav li.nav-item .nav-link {
        font-size: 14px;
    }
}

@media (max-width:991px){
    h2 {
        font-size: 25px;
    }
    .transaction-table{
        overflow: auto;
    }
    .cryptosourcebox {
        display: flex;
        justify-content: center;
        padding: 40px 0px;
    }
    .cryptologobox {
        width: auto;
        height: auto;
        margin: 8px;
        padding: 30px;
    }
    
}
@media (max-width:767px){
    .cryptosourcetitle{
        flex-direction: column;
    }
    .cryptosourcebox{
        flex-wrap: wrap;
    }
    
    .metho-heading h2{
        margin-bottom: 20px;
    }
    .searchwrap{
        width: 100%;
    }
}
@media (max-width:475px){
    .tran-select select{
        margin-left: 4%;
        margin-bottom: 10px;
        width: 48%;
    }
    
    .tran-select select:first-child, .tran-select select:nth-child(2){
        margin-left: 0;
        
    }
    .tran-select select:first-child{
        width: 100%;
    }
    .tran-select select:nth-child(3) {
        margin-left: 2%;
    }
}